<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.testproject.mapper.MemberMapper">

    <insert id="insertMember" parameterType="Member">
        INSERT INTO member (member_num ,id, password)
        VALUES (#{memberNum}, #{id}, #{password})
    </insert>

    <select id="selectMemberTotalCount" resultType="int">
        select count(1) from member
    </select>
</mapper>